/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 4fr 0.5fr 1fr 1fr;
    background-color:rgb(101, 215, 250);
    min-height: 870px;
    min-width:575px;
}

.container h1 {
    grid-area: 1 / 1 / 2 / 5;
    display: flex;
    justify-content: center;
    font-size: 6em;
    align-items: center;
    background-color: rgb(17, 17, 17);
    font-weight: bold;
    color: #dadada;
}

#gameboard {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin-top:2em;
    height: 300px;
    justify-content: center;
}

.square {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    width:30%;
    height: 40%;
    text-align: center;
    font-size: 80px;
}

#message {
    grid-area: 3 / 2 / 4 / 4;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.player-names {
    grid-area: 4 / 1 / 5 / 5;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.game-options {
    grid-area: 5 / 2 / 6 / 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
}

.game-options button {
    font-size: 16px;
        font-weight: bold;
        height: auto;
        width: 150px;
        color: #FFFFFF;
        background-color:rgb(17, 17, 17);

        border: none;
        border-radius: 25px;
        
        padding: 10px 40px;
        cursor: pointer;
}

.X, .O {
    grid-area: 2 / 1  / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
}

.O {
    grid-area: 2 / 4  / 3 / 5;
}