/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.otf') format('opentype');
}

body {
    background:linear-gradient(to bottom,rgb(30,30,40),rgb(30,30,100));
    display: flex;
    color: rgba(245, 245, 245, 0.932);
}

.main {
    background: url(northern-lights.jpg);
    background-size:cover;
    background-position: bottom;
    height: 100vh;
    width: 45vw;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center
}

.side-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
   display: flex;
   font-family: 'Norse-Bold', sans-serif;
   font-size: 10em;
   align-items: center;
   justify-content: center;
}

.odin {
    height:20vh;
}

.credit {
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
}

a {
    color: rgb(55, 210, 100);
}

.form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 55vw;
    justify-content: center;
    gap:2em;
    margin:0em 1em;
    font-family: sans-serif;
    min-width: 445px;
}

.top-container {
    font-size:2em;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgba(55, 210, 100, 0.6);
}

.info {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1em;
    margin-bottom: 1em;
}

.middle-container {
    border-bottom: 5px solid rgba(55, 210, 100, 0.6);
    display: flex;
    justify-content: flex-start;
}

.user-info p {
    font-size: 2em;
}

div .inputs {
    padding-left:12em;
}

@media (max-width: 1100px){
    div .inputs {
        padding-left:2em;
    }
}

.first-last {
    display: flex;
    margin-top: 7px;
    padding-top: 15px;
    width: 50%;
    align-content: space-between;
}

.contact {
    display: flex;
    margin-top: 7px;
    padding-top: 15px;
    width: 50%;
}

.password {
    display: flex;
    margin-top: 7px;
    padding-top: 15px;
    width: 50%;
    margin-bottom: 1em;
}

.user-info button {
    font-size: 16px;
    font-weight: bold;
  
    color: rgba(245, 245, 245, 0.932);
    background-color: rgba(55, 210, 100, 0.6);
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
    margin-bottom: 2em;
    margin-top: 0.7em;
  }
  
  .user-info button:hover {
    background-color: rgba(55, 210, 100, 0.4);
  }
  
  .user-info button:active {
    background-color: rgba(55, 210, 100, 0.8);
  }

  input {
    width: 15em;
    height: 2em;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

input:valid {
    outline: none;
    border-color: rgba(55, 210, 100, 0.6);
    box-shadow: 0 0 10px rgba(55, 210, 100, 0.8);
}

input:invalid {
    outline: none;
    border-color: rgba(210, 55, 55, 0.6);
    box-shadow: 0 0 10px rgba(210, 55, 55, 0.8);
}