body {
    /* display: grid;
    grid-template-rows: 2fr 1fr 4fr; */
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: auto;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: cornflowerblue;
    color: white
}

#info{
    text-align: center;
}

#collectionName{
    text-align: center;
    font-size: 20px;
}

form {
    display: flex;
    justify-content:space-around;
    gap: 10px;
    font-size: 20px;
    border-bottom: solid 5px black;
}

form input,
form select {
    width: 200px
}

th, tr, td {
    border: 1px solid black;
}

.table-container{
    display: flex;
    overflow: auto;
    text-align: center;
    width:95%;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%
}

button {
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    padding: 0.2rem 20px;
    border: none;
    cursor: pointer;
}

#btnExport {
    font-size: 1.5em
}

.form-column-4 p:last-child{
    display: flex;
    justify-content: space-between;
}

#display p {
    display:flex;
    justify-content: center;
}

input:invalid {
    border-color: #900;
    background-color: #fdd;
  }
  
  #name:valid,
  #collectionInput:valid,
  #description:valid,
  #critical_skills:valid {
    border-color: greenyellow;
    background-color: rgb(100, 200, 90);
  }